---
title: About
permalink: /about/
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    <title>About | Genealogy Connection</title>
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>About This Project</h1>
      </div>
    </div>
    <div class="container">
      <p>This site is an archived, static version of a demo site I built for a class at Pitt in 2016. The original version had a Node.js backend which allowed you to create an account and link it to the now discontinued 23andMe API to pull in basic information from your profile.</p>
      <p>You can see the original code on <a href="https://github.com/njscholfield/genealogy-connection/tree/23andme" target="_blank" rel="noopener">GitHub</a> if you are interested. I was originally just going to make this project private but I decided to make it into this static site instead since I still like the design, even 4 years later.</p>
      <p>If you want to see more recent projects or mine, check out my <a href="https://noahscholfield.com/projects" target="_blank">projects page.</a></p>
      <br>
      <h4 class="text-primary">&ndash; Noah</h4>
    </div>
    {% include scripts.html %}
  </body>
</html>
