---
title: Profile
permalink: /profile/
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    <title>Profile | Geneaology Connection</title>
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-success">John Smith</h1>
      </div>
    </div>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Account Info</h4>
        </div>
        <div class="panel-body">
          <p><strong>Name: </strong>John Smith</p>
          <p><strong>Email Address: </strong>john.smith@example.com</p>
          <p><strong>Username: </strong>jsmith</p>
          <p><strong>Account Type: </strong>user</p>
        </div>
      </div>
    </div>
  </body>
  {% include scripts.html %}
</html>
