<!DOCTYPE html>
<html>
  <head>
  	<% include ../views/partials/header.ejs %>
  	<title>Premium | Genealogy Connection</title>
    <style>
      #free {
        margin-top: 1em;
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
  	<%- include('../views/partials/navbar.ejs', {user: user}) %>
    <div class="jumbotron">
      <div class="container">
        <h1>Premium</h1>
      </div>
    </div>
		<div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Premium</h3>
            </div>
            <div class="panel-body">
            <table class="table text-center">
        			<tr>
        				<th class="text-success"><h5>$2.99 /month</h5></th>
      				</tr>
      				<tr>
      					<td class="success">Free messaging application</td>
      				</tr>
        			<tr>
        				<td class="success">Access to six genealogy sites</td>
        			</tr>
      				<tr>
      					<td class="success"><i>Unlimited</i> forum threads & posts</td>
      				</tr>
      				<tr>
        				<td class="success">Ad Free</td>
      				</tr>
        			<tr>
      					<td class="success">Expert assistance</td>
      				</tr>
      			</table>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-sm-pull-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Free</h3>
            </div>
            <hr id="free">
            <table class="table text-center" id="">
        			<tr>
        				<th class="text-danger"><h5>$0.00 /month</h5></th>
      				</tr>
        			<tr>
        				<td class="danger">Free messaging application</td>
        			</tr>
        			<tr>
        				<td class="danger">Access to six genealogy sites</td>
        			</tr>
        			<tr>
        				<td class="danger">One free forum thread</td>
        			</tr>
        			<tr>
        				<td class="danger"><span class="glyphicon glyphicon-ban-circle"></span></td>
        			</tr>
        			<tr>
        			  <td class="danger"><span class="glyphicon glyphicon-ban-circle"></span></td>
        			</tr>
        		</table>
          </div>
        </div>
      </div>
		</div>
		<% include ../views/partials/scripts.ejs %>
  </body>
</html>
