<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/header.ejs %>
    <title>Resources | Genealogy Connection</title>
    <style>
      h2 {
        padding-top: 1.5em;
        margin-top: -0.9em;
      }
    </style>
  </head>
  <body>
    <%- include('../views/partials/navbar.ejs', {user: user}) %>
    <div class="jumbotron">
      <div class="container">
        <h1>Resources</h1>
        <p>Here are some great websites that we recommend to help you find more.</p>
      </div>
    </div>
    <div class="container">
      <article>
        <h2 id="23andme">23andMe</h2>
        <p>23andMe is one of the best places to submit your DNA for testing. There is no monthy subscription required, just pay a one time fee of $199 for the test and analysis.</p>
        <p><a href="https://23andme.com" class="btn-link" target="_blank"><span class="glyphicon glyphicon-link"></span> 23andme.com</a></p>
        <h6>For help using 23andMe visit our <a class="btn-link" href="https://gcforum.noahscholfield.com/category/10/23andme" target="_blank">support forum</a></h6>
      </article>
      <article>
        <h2 id="ancestry">Ancestry</h2>
        <p>Ancestry is one of the largest and well known family genealogy websites. You can use it to create a family tree, find documents about your family, and even get your DNA tested. They offer several levels of subscription plans.</p>
        <p><a href="https://ancestry.com" class="btn-link" target="_blank"><span class="glyphicon glyphicon-link"></span> ancestry.com</a></p>
        <h6>For help using Ancestry visit our <a class="btn-link" href="https://gcforum.noahscholfield.com/category/10/23andme" target="_blank">support forum</a></h6>
      </article>
      <article>
        <h2 id="familysearch">FamilySearch</h2>
        <p>FamilySearch has a massive amount of family records. If you want access to tons of records but don't want to pay for Ancestry, FamilySearch.</p>
        <p><a href="https://familysearch.org" class="btn-link" target="_blank"><span class="glyphicon glyphicon-link"></span> familysearch.org</a></p>
        <h6>For help using FamilySearch visit our <a class="btn-link" href="https://gcforum.noahscholfield.com/category/10/23andme" target="_blank">support forum</a></h6>
      </article>
      <article>
        <h2 id="gedmatch">GEDmatch</h2>
        <p>GEDmatch gives you an in depth and specific look into your DNA and how it compares with others in your family. If you want to know exactly what parts of DNA you share with someone else, this is the place you want to go. GEDmatch is completely free as it relies only on donations, so get started today.</p>
        <p><a href="https://gedmatch.com" class="btn-link" target="_blank"><span class="glyphicon glyphicon-link"></span> gedmatch.com</a></p>
        <h6>For help using GEDmatch visit our <a class="btn-link" href="https://gcforum.noahscholfield.com/category/10/23andme" target="_blank">support forum</a></h6>
      </article>
      <article>
        <h2 id="geneanet">Geneanet</h2>
        <p>You can make family trees and search for records.</p>
        <p><a href="http://http://www.geneanet.org" class="btn-link" target="_blank"><span class="glyphicon glyphicon-link"></span> geneanet.org</a></p>
        <h6>For help using Geneanet visit our <a class="btn-link" href="https://gcforum.noahscholfield.com/category/10/23andme" target="_blank">support forum</a></h6>
      </article>
      <article>
        <h2 id="wikitree">WikiTree</h2>
        <p>WikiTree is all about making an online family tree. If you want to make a family tree but don't want to pay for Ancestry try out Wikitree because it is completely free.</p>
        <p><a href="http://wikitree.com" class="btn-link" target="_blank"><span class="glyphicon glyphicon-link"></span> wikitree.com</a></p>
        <h6>For help using WikiTree visit our <a class="btn-link" href="https://gcforum.noahscholfield.com/category/10/23andme" target="_blank">support forum</a></h6>
      </article>
    </div>
    <% include ../views/partials/scripts.ejs %>
    <script>
      $('#resources').addClass('active');
    </script>
  </body>
</html>
